spring:
    application:
        name: produtos-api
    datasource:
        url: jdbc:h2:mem:produtos
        username: sa
        password: 123456
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
        show-sql: true
        
    h2:
        console:
            enabled: true
            path: /h2-console